{% extends 'layout.html' %}

{% block content%}

<h1>Books by S. King</h1>
<img src="static/stephenking.jpg" alt="books by S.King" width="500" height="250">
<p id="title"><b>The randomly selected title for you:</b></p>
<h2>"{{title}}"</h2><br>
<form action="/addcomments" method="post">
    <input type="hidden" class="form-control" name="id" value="{{id}}">
    <div class="form-group">
        <label>Nickname</label>
        <input type="text" class="form-control" id="nickname" name="nickname" required>
    </div>
    <div class="form-group">
        <label>Opinion</label>
        <input type="text" class="form-control" id="opinion" name="opinion" required>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>

{% endblock %}