{% extends 'layout.html' %}

{% block content%}
<h1>Selected books by S. King</h1>
<br>
<table class="table table-sm">
    <thead>
    <tr>
        <!--      <th scope="col">Id</th>-->
        <th scope="col">Title</th>
        <th scope="col">Comments</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books%}
    <tr>
        <!--      <td>{{book[0]}}</td>-->
        <td>"{{book[1]}}"</td>
        <td><a class="btn btn-warning" href="{{url_for('book_comments', id=book[0], title=book[1])}}" role="button">Go
            to comments</a></td>
    </tr>
    {% endfor%}
    </tbody>
</table>
{% endblock %}
